doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Henry's Dashboard
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
  body
    .wrapper
      .content
        .content-wrapper
          .logo
            img(src="images/logo.svg")
            h1
              | Henry's Dashboard
          .grid-container
            block content
      .footer-menu
        .menu.github#github Github
        .menu.email#email Email
        .menu.linkedin#linkedin LinkedIn
  script(src="js/index.js")
